@use "partial/reset";
@use "partial/variables";
@use "base";

.title-position {
    width: 100%;
    text-align: center;


    .pagetitle {
        display: inline-block;
        position: relative;
        height: 40px;
        text-align: center;
    
        &::before, &::after {
            content: '';
            position: absolute;
            width: 10px;
            bottom: -10px;
            z-index: 1;
            border: 15px solid variables.$pink;
        }
    
        &::before {
            left: -25px;
            border-left-color: transparent;
        }
    
        &::after {
            right: -25px;
            border-right-color: transparent;
        }
    
        .admin {
            display: inline-block;
            position: relative;
            margin: 0;
            padding: 0 20px;
            line-height: 40px;
            background-color: variables.$light_pink;
            z-index: 3;
    
            &::before, &::after {
                position: absolute;
                content: '';
                top: 100%;
                border: none;
                border-bottom: solid 10px transparent;
            }
    
            &::before {
                left: 0;
                border-right: solid 15px variables.$dark_pink;
            }
    
            &::after {
                right: 0;
                border-left: solid 15px variables.$dark_pink;
            }
        }
    }
}

.search-position {
    width: 100%;
    margin-top: 50px;
    text-align: center;

    .search {
        width: 70%;
        max-width: 800px;
        margin: 0 auto;

        &__box {
            width: 85%;
            height: 30px;
            border: 3px solid variables.$dark_pink;

            &:focus {
                outline: none;
                background-color: variables.$light_pink;
            }
        }

        input[type='radio'] {
            display: none;

            &+label {
                display: none;
                cursor: pointer;
                display: inline-block;
                position: relative;
                padding-left: 25px;
                padding-right: 5px;

                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    box-sizing: border-box;
                    width: 20px;
                    height: 20px;
                    margin-top: -10px;
                    left: 0;
                    top: 50%;
                    border: 2px solid variables.$dark_pink;
                    background-color: variables.$light_pink;
                    border-radius: 50%;
                }
            }

            &:checked {
                &+label {
                    &::after {
                        content: "";
                        position: absolute;
                        display: block;
                        box-sizing: border-box;
                        width: 12px;
                        height: 12px;
                        margin-top: -6px;
                        top: 50%;
                        left: 4px;
                        background-color: deeppink;
                        border-radius: 50%;
                        animation: click 0.2s;
                    }

                    @keyframes click {
                        0% {
                            position: absolute;
                            margin-top: -1px;
                            left: 10px;
                            height: 0px;
                            width: 0px;
                        }
                        100% {
                            height: 12px;
                            width: 12px;
                        }
                    }
                }
            }
        }

        &__checkbox {
            margin: 0 3px;
        }

        &__btn {
            width: 40px;
            height: 30px;
            background-color: variables.$dark_pink;
            border: 3px solid variables.$dark_pink;
            color: white;
            cursor: pointer;
        }

        &__condition {
            display: flex;
            justify-content: center;
            text-align: left;
            position: relative;
            margin: 20px auto;
            width: fit-content;
            padding: 5px;
            color: #555;
            font-size: 16px;
            border: 3px solid variables.$dark_purple;
            border-radius: 10px;

            &::before {
                content: "";
                position: absolute;
                top: -24px;
                left: 50%;
                margin-left: -15px;
                border: 12px solid transparent;
                border-bottom: 12px solid #FFF;
                z-index: 2;
            }

            &::after {
                content: "";
                position: absolute;
                top: -30px;
                left: 50%;
                margin-left: -17px;
                border: 14px solid transparent;
                border-bottom: 14px solid variables.$dark_purple;
                z-index: 1;
            }

            .char-center {
                display: flex;
                justify-content: center;
                align-items: center;
                width: fit-content;
                position: relative;
                margin: 0 20px;

                &::after {
                    content: "";
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    bottom: 25px;
                    width: 100%;
                    height: 12px;
                    border-radius: 10px;
                    background: repeating-linear-gradient(-45deg, variables.$dark_purple, variables.$dark_purple 2px, white 3px,white 5px);
                }
            }
        }
    }
}

.page-all {
    margin: 50px auto;
    width: 80%;
    height: 450px;

    .page-top {
        display: flex;
        width: 100%;

        .icon-name-position{
            width: 50%;
            height: 30%;
            display: flex;

            .icon-position {
                width: 50%;
                height: 100%;
                display: flex;
                justify-content: right;
                padding-right: 10px;
                
                .icon {
                    width: 120px;
                    height: 120px;
                    border: 3px solid variables.$dark_purple;
                }
            }
        }

        .name-position {
            width: 50%;
            height: 100%;
    
            .name {
                width: 100%;
                max-width: 300px;
                height: 50%;
                padding: 10px 30px 10px 10px;
    
                &__handlename, &__id {
                    border-bottom: 3px solid variables.$dark_purple;
    
                    p {
                        display: inline-block;
                        width: 30px;
                        text-align: center;
                    }
                }
            }
        }

        .btn-position {
            width: 40%;
            height: 70%;
            padding-top: 40px;
            display: flex;

            .btn { 
                margin: 0 20px 0 0;
                width: 45%;
                max-width: 250px;
            }
        }
    }

    .page-middle {
        margin-top: 50px;
        width: 100%;

        .category-position {
            width: 80%;
            max-width: 1000px;
            height: 270px;
            overflow-x: scroll;
            padding: 10px 0 0 10px;
            margin: 0 auto;
            border-radius: 10px;
            box-shadow: 0 0 5px rgb(0 0 0 / 20%) inset;

            li {
                float: left;
                width: 50%;
                display: flex;
                justify-content: center;
                list-style: none;

                .btn {
                    width: 50%;
                }

                &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8), &:nth-child(9) {
                    .btn {
                        &--normal {
                            &:hover {
                                background-color: variables.$light_purple;
                            }

                            &::before {
                                border: 3px solid variables.$dark_purple;
                            }
                        }
                    }
                }
            }
        }
    }
}

.adminpage-bottom {
    width: 100%;

    .tab {
        width: 70%;
        max-width: 1000px;
        margin: 0 auto;

        .tab_item {
            display: block;
            float: left;
            width: calc(100%/3);
            height: 30px;
            border-radius: 10px 10px 0 0 ;
            border-bottom: 3px solid variables.$dark_purple;
            background-color: variables.$gray;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
            overflow: hidden;
            transition: all 0.2s ease;

            &:hover {
                cursor: pointer;
                background-color: variables.$light_purple;
            }
        }

        input[name="tab_item"] {
            display: none;
        }

        &__switching {
            display: none;
            padding: 20px;
            clear: both;
            border-radius: 0 0 10px 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        &__contents {
            list-style: none;
        }

        .fa-star::before {
            content: "\f005";
            font-family: "Font Awesome 5 Free";
            -webkit-text-stroke: 1px white
            // font-weight: 900;
        }

        .contents {
            &__main{
                position: relative;
                margin-top: 20px;
                width: 100%;
                border: 3px solid variables.$dark_purple;
                background-color: white;
            }

            &__top, &__bottom {
                width: 100%;
                height: 50px;
            }

            &__top{
                display: flex;
                border-bottom: 2px solid variables.$dark_purple;
            }

            &__sub{
                display: flex;
                margin-bottom: 20px;
                justify-content: space-between;
            }

            &__admin{
                display: flex;
                width:50%;
                // display:none;
            }

            &__delete{
                    width:85px;
                    height: 30px;
                    text-align: center;
                    line-height: 28px;
                    border-bottom: 3px solid variables.$dark_purple;
                    border-left: 3px solid variables.$dark_purple;

                    a {
                        color:red;
                    }

                    a:hover{
                        color:variables.$hover_purple;
                    }
            }
            
            &__recover {
                width: 85px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                border-bottom: 3px solid variables.$dark_purple;
                border-right: 3px solid variables.$dark_purple;

                a {
                    color: blue;
                }

                a:hover {
                    color:variables.$hover_purple;
                }
            }

            &__good {
                width: 85px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                border-bottom: 3px solid variables.$dark_purple;
                border-right: 3px solid variables.$dark_purple;
                border-left: 3px solid variables.$dark_purple;
                cursor: pointer;
            }

            &__char-center {
                padding-top: 20px;
                text-align: center;
            }

            &__char-top {
                padding: 5px 10px;
            }

            &__ribbon {
                position: absolute;
                top: -6px;
                left: -6px;
                height: 20px;
                padding: 5px 10px;
                padding-right: 40px;
                background: variables.$light_purple;
                line-height: 10px;

                &::before {
                    position: absolute;
                    content: '';
                    top: 100%;
                    left: 0px;
                    border: 3px solid transparent;
                    border-top: 3px solid variables.$dark_purple;
                    border-right: 3px solid variables.$dark_purple;
                }

                &::after {
                    position: absolute;
                    content: '';
                    top: 0;
                    right: -10px;
                    border-top: 10px solid variables.$light_purple;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid variables.$light_purple;
                    border-left: 0 solid variables.$light_purple;
                }
            }

            &__title {
                width: 60%;
                height: 100%;
                border-right: 2px solid variables.$dark_purple;
                overflow: hidden;
            }

            &__datetime {
                width: 40%;
                height: 100%;
                overflow: hidden;
            }
        }

        #new_threadtab:checked ~ #thread_content,
        #new_responsetab:checked ~ #response_content,
        #goodtab:checked ~ #good_content {
            display: block;
        }
    }

    .tab input:checked + .tab_item {
        background-color: variables.$light_purple;
    }
}