* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  padding-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

main {
  margin: 50px 10px 85px 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D0368A), color-stop(99%, #708AD4));
  background-image: -webkit-linear-gradient(top, #D0368A 0%, #708AD4 99%);
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  -webkit-box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

h1, h2, .font-size--15, .font-size--20 {
  font-family: "Yu Gothic";
}

h1 {
  font-size: 35px;
  color: white;
}

h2 {
  font-size: 25px;
}

.font-size--15 {
  font-size: 15px;
}

.font-size--20 {
  font-size: 20px;
  font-weight: normal;
}

.english-font {
  font-family: "Arial";
  font-style: italic;
}

input {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Yu Gothic";
}

textarea {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Yu Gothic";
}

select {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Yu Gothic";
}

.border_radius--small {
  border-radius: 5px;
}

.border_radius--middle {
  border-radius: 10px;
}

.border_radius--big {
  border-radius: 15px;
}

.btn {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  width: 120px;
  height: 50px;
  color: black;
  line-height: 1em;
  font-size: 15px;
  font-weight: bold;
  font-family: "Yu Gothic";
  background-color: #F1F1F1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--normal::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: 3px solid #FDCAEC;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--normal:hover::before {
  top: 0;
  left: 0;
}
.btn--normal:hover {
  background-color: #FFF0FA;
}
.btn--back::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: 3px solid #CBCDFF;
  border-radius: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn--back:hover::before {
  top: 0;
  left: 0;
}
.btn--back:hover {
  background-color: #E7E8FF;
}

.title-position {
  width: 100%;
  text-align: center;
}
.title-position .pagetitle {
  display: inline-block;
  position: relative;
  height: 40px;
  text-align: center;
}
.title-position .pagetitle::before, .title-position .pagetitle::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: -10px;
  z-index: 1;
  border: 15px solid #FFE8F7;
}
.title-position .pagetitle::before {
  left: -25px;
  border-left-color: transparent;
}
.title-position .pagetitle::after {
  right: -25px;
  border-right-color: transparent;
}
.title-position .pagetitle .admin {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 40px;
  background-color: #FFF0FA;
  z-index: 3;
}
.title-position .pagetitle .admin::before, .title-position .pagetitle .admin::after {
  position: absolute;
  content: "";
  top: 100%;
  border: none;
  border-bottom: solid 10px transparent;
}
.title-position .pagetitle .admin::before {
  left: 0;
  border-right: solid 15px #FDCAEC;
}
.title-position .pagetitle .admin::after {
  right: 0;
  border-left: solid 15px #FDCAEC;
}

.page-all {
  margin: 50px auto;
  width: 80%;
  height: 450px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page-all .page-left {
  width: 50%;
}
.page-all .page-left .icon-name-position {
  margin: 0 0 0 auto;
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page-all .page-left .icon-name-position .icon-position {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
  -webkit-justify-content: right;
      -ms-flex-pack: right;
          justify-content: right;
  padding-right: 10px;
}
.page-all .page-left .icon-name-position .icon-position .icon {
  width: 120px;
  height: 120px;
  border: 3px solid #CBCDFF;
}
.page-all .page-left .name-position {
  width: 50%;
  height: 100%;
}
.page-all .page-left .name-position .name {
  width: 100%;
  max-width: 300px;
  height: 50%;
  padding: 10px 30px 10px 10px;
}
.page-all .page-left .name-position .name__handlename, .page-all .page-left .name-position .name__id {
  border-bottom: 3px solid #CBCDFF;
}
.page-all .page-left .name-position .name__handlename p, .page-all .page-left .name-position .name__id p {
  display: inline-block;
  width: 30px;
  text-align: center;
}
.page-all .page-left .btn-position {
  margin: 0 auto;
  width: 70%;
  height: 70%;
}
.page-all .page-left .btn-position .btn {
  margin: 50px 0 0 auto;
  width: 70%;
}
.page-all .page-right {
  width: 50%;
}
.page-all .page-right .search-position {
  width: 100%;
  height: 20%;
}
.page-all .page-right .search-position .search {
  padding: 10px 20px;
}
.page-all .page-right .search-position .search__box {
  width: 70%;
  height: 30px;
  border: 3px solid #FDCAEC;
}
.page-all .page-right .search-position .search__box:focus {
  outline: none;
  background-color: #FFF0FA;
}
.page-all .page-right .search-position .search__btn {
  width: 40px;
  height: 30px;
  background-color: #FDCAEC;
  border: 3px solid #FDCAEC;
  color: white;
  cursor: pointer;
}
.page-all .page-right .category-position {
  width: 80%;
  padding-left: 10px;
}
.page-all .page-right .category-position li {
  float: left;
  width: 50%;
  padding: 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.page-all .page-right .category-position li .btn {
  width: 100%;
}
.page-all .page-right .category-position li:nth-child(1) .btn--normal:hover, .page-all .page-right .category-position li:nth-child(4) .btn--normal:hover, .page-all .page-right .category-position li:nth-child(5) .btn--normal:hover, .page-all .page-right .category-position li:nth-child(8) .btn--normal:hover, .page-all .page-right .category-position li:nth-child(9) .btn--normal:hover {
  background-color: #E7E8FF;
}
.page-all .page-right .category-position li:nth-child(1) .btn--normal::before, .page-all .page-right .category-position li:nth-child(4) .btn--normal::before, .page-all .page-right .category-position li:nth-child(5) .btn--normal::before, .page-all .page-right .category-position li:nth-child(8) .btn--normal::before, .page-all .page-right .category-position li:nth-child(9) .btn--normal::before {
  border: 3px solid #CBCDFF;
}/*# sourceMappingURL=adminpage.css.map */