@use "partial/reset";
@use "partial/variables";
@use "base";

.back-position {
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;

    .btn {
        top: -18px;
        width: 7%;
        height: 35px;

        &--back {
            &::before {
                top: -6px;
                left: -6px;
            }

            &:hover::before {
                top: 0;
                left: 0;
            }
        }
    }

    div {
        width: 7%;
        height: 35px;
    }
}

.dm {
    position: relative;
    margin: 25px auto;
    width: 80%;
    max-width: 1000px;
    height: 100%;
    border: 3px solid variables.$dark_purple;
    background-color: white;
    overflow: visible;
    padding: 0.5em;
    z-index: 1;

    &__ribbon {
        position: absolute;
        top: 15px;
        width: calc(100% + 20px);
        height: 50px;
        margin-right: -18px;
        margin-bottom: 80px;
        margin-left: -18px;
        z-index: 2;

        &::before, &::after {
            content: '';
            position: absolute;
            top: 20px;
            bottom: -10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 20px 20px;
        }

        &::before {
            left: -33px;
            border-color: variables.$pink variables.$pink variables.$pink transparent;
        }

        &::after {
            right: -33px;
            border-color: variables.$pink transparent variables.$pink variables.$pink;
        }
    }

    &__title {
        line-height: 3em;
        position: relative;
        height: inherit;
        margin-bottom: 0;
        text-align: center;
        background: variables.$light_pink;
        z-index: 1;

        &::before, &::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid variables.$dark_pink;
        }

        &::before {
            left: 0;
            border-left: 7px solid transparent;
        }

        &::after {
            right: 0;
            border-right: 7px solid transparent;
        }
    }

    &__all {
        width: 100%;
        height: 100%;
        padding: 100px 0 20px 0;

        .contents {
            display: flex;
            width: 100%;
            height: 100%;

            .icon-position {
                display: flex;
                justify-content: flex-end;
                width: 70px;
                margin-right: 30px;

                .icon {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    border: 3px solid variables.$dark_purple;
                }
            }

            .detail-position {
                width: 90%;

                table {
                    width: 100%;
                }

                &__receive, &__send {
                    padding-bottom: 10px;

                    p {
                        position: relative;
                        display: inline-block;
                        max-width: 80%;
                        padding: 5px;
                        border: 3px solid variables.$dark_purple;

                        &::before, &::after {
                            content: '';
                            position: absolute;
                            top: 50%;
                        }
                    }
                }

                &__receive {
                    display: flex;
                    justify-content: left;

                    p {
                        &::before {
                            left: -8px;
                            margin-top: -4px;
                            border: 4px solid transparent;
                            border-right: 4px solid white;
                            z-index: 2;
                        }

                        &::after {
                            left: -14px;
                            margin-top: -6px;
                            border: 6px solid transparent;
                            border-right: 6px solid variables.$dark_purple;
                            z-index: 1;
                        }
                    }
                }

                &__send {
                    display: flex;
                    justify-content: right;

                    P {
                        &::before {
                            right: -8px;
                            margin-top: -4px;
                            border: 4px solid transparent;
                            border-left: 4px solid white;
                            z-index: 2;
                        }

                        &::after {
                            right: -14px;
                            margin-top: -6px;
                            border: 6px solid transparent;
                            border-left: 6px solid variables.$dark_purple;
                            z-index: 1;
                        }
                    }
                }
            }
        }

        .send-position {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            width: 100%;
            height: 100%;

            &__message {
                width: 60%;
                height: 30px;
                margin-right: 15px;
                border: 3px solid variables.$dark_purple;

                &:focus {
                    outline: none;
                    background-color: variables.$light_purple;
                }
            }

            .btn {
                margin: 0;
                width: 10%;
                height: 33px;

                &--normal {
                    &::before {
                        top: -6px;
                        left: -6px;
                    }

                    &:hover {
                        background-color: variables.$light_pink;

                        &::before {
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}