* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.top-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #CBCDFF;
}
.top-head .humberger-menu #menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
.top-head .humberger-menu #menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.top-head .humberger-menu #menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.top-head .humberger-menu #menu-btn-check {
  display: none;
}
.top-head .humberger-menu #menu-btn-check:checked ~ .menu-list {
  right: 70%;
}
.top-head .humberger-menu #menu-btn-check:checked ~ .menu-filter {
  display: block;
  opacity: 0.7;
}
.top-head .humberger-menu .menu-btn {
  position: fixed;
  top: 15px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 20;
  border: 3px solid white;
  cursor: pointer;
}
.top-head .humberger-menu .menu-btn__span, .top-head .humberger-menu .menu-btn__span::before, .top-head .humberger-menu .menu-btn__span::after {
  position: absolute;
  content: "";
  display: block;
  width: 18px;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
  border-radius: 5px;
}
.top-head .humberger-menu .menu-btn__span::before {
  bottom: 8px;
}
.top-head .humberger-menu .menu-btn__span::after {
  top: 8px;
}
.top-head .humberger-menu .menu-filter {
  position: fixed;
  top: 70px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
}
.top-head .humberger-menu .menu-list {
  position: fixed;
  width: 30%;
  height: 100%;
  top: 0;
  right: 100%;
  z-index: 10;
  background-color: white;
  transition: 0.5s;
}
.top-head .humberger-menu .menu-list__top {
  height: 70px;
  background-color: #CBCDFF;
}
.top-head .humberger-menu .menu-list__contents {
  padding: 5px 10px;
}
.top-head .humberger-menu .menu-list__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 100%;
  height: 40px;
  font-weight: bold;
  background-color: #F1F1F1;
  border-radius: 10px;
  overflow: hidden;
  z-index: 0;
  transition: 0.5s;
}
.top-head .humberger-menu .menu-list__item a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-decoration: none;
  color: black;
  z-index: 0;
}
.top-head .humberger-menu .menu-list__item::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  display: block;
  border-radius: 10px;
  background-color: #CBCDFF;
  transition: 0.5s;
  left: 0;
}
.top-head .humberger-menu .menu-list__item:nth-child(2n)::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  display: block;
  border-radius: 10px;
  background-color: #FDCAEC;
  transition: 0.5s;
  left: 0;
}
.top-head .humberger-menu .menu-list__item::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 10%;
  width: 5px;
  height: 5px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}
.top-head .humberger-menu .menu-list__item:nth-child(2n):after {
  content: "";
  position: absolute;
  top: 40%;
  right: 10%;
  width: 5px;
  height: 5px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  transform: rotate(45deg);
}
.top-head .humberger-menu .menu-list__item:hover::before {
  width: 100%;
  z-index: -1;
}
.top-head .top-title {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  z-index: 10;
}

.top-foot {
  width: 100%;
  height: 50px;
}
.top-foot .top-list {
  display: flex;
  list-style: none;
  height: 100%;
}
.top-foot .top-list__item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #E7E8FF;
  border-radius: 0 0 10px 10px;
  transition: 0.3s;
}
.top-foot .top-list__item:hover {
  height: 60px;
}
.top-foot .top-list__item a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  font-weight: bold;
  border-radius: 0 0 10px 10px;
  transition: 0.3s;
}
.top-foot .top-list__item a:hover {
  color: #9530FA;
}

.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 35px;
  background-color: #CBCDFF;
  border-radius: 10px 10px 0 0;
  z-index: 5;
}
.footer__text {
  color: white;
  font-size: 10px;
}/*# sourceMappingURL=headerfootermenu.css.map */