@use "reset";
@use "variables";
@use "base";

.login {
    position: relative;
    margin: 10% auto;
    text-align: center;
    width: 80%;
    max-width: 500px;
    border: 3px solid variables.$dark_purple;
    background-color: white;
    overflow: visible;
    padding: 0.5em;
    z-index: 1;

    &__ribbon {
        position: absolute;
        z-index: 2;
        top: 15px;
        width: calc(100% + 20px);
        height: 50px;
        margin-right: -18px;
        margin-bottom: 80px;
        margin-left: -18px;

        &::before,&::after {
            content: '';
            position: absolute;
            top: 20px;
            bottom: -10px;
            width :0;
            height: 0;
            border-width: 20px 20px;
        }

        &::before {
            left: -33px;
            border-style: solid;
            border-color: variables.$pink variables.$pink variables.$pink transparent;
        }

        &::after {
            right: -33px;
            border-style: solid;
            border-color: variables.$pink transparent variables.$pink variables.$pink;
        }
    }
    &__title {
        line-height: 3em;
        position: relative;
        z-index: 1;
        height: inherit;
        margin-bottom: 0;
        text-align: center;
        color: black;
        background: variables.$light_pink;

        &::before,&::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid variables.$dark_pink;
        }
        
        &::before {
            left: 0;
            border-left: 7px solid transparent;
        }

        &::after {
            right: 0;
            border-right: 7px solid transparent;
        }

        & p {
            font-weight: bold;
        }
    }

    &__form {
        margin-top: 90px;
    }

    &__input {
        border: 2px solid variables.$dark_purple;
        height: 30px;

        &:focus {
            outline: none;
            background-color: variables.$light_purple;
        }
    }
    
    &__group {
        margin: 25px auto;
    }

    &__text {
        display: inline-block;
        text-align: center;
        width: 70px;
    }
    
    .error-message {
        visibility: hidden;
        color: red;
        border: 3px double orange;
        background-color: antiquewhite;
        width: 80%;
        margin: 0 auto;
    }

    .btn {
        display: inline-block;
        margin: 0 20px;
    }
}
