@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

body {
  padding-top: 120px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

main {
  margin: 50px 10px 85px 10px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: rgba(100, 100, 100, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

h1, h2, .font-size--15, .font-size--20 {
  font-family: "Yu Gothic";
}

h1 {
  font-size: 35px;
  color: white;
}

h2 {
  font-size: 25px;
}

.font-size--15 {
  font-size: 15px;
}

.font-size--20 {
  font-size: 20px;
  font-weight: normal;
}

.english-font {
  font-family: "Arial";
  font-style: italic;
}

input {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Yu Gothic";
}

textarea {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Yu Gothic";
}

select {
  font-size: 15px;
  border-radius: 5px;
  font-family: "Yu Gothic";
}

.border_radius--small {
  border-radius: 5px;
}

.border_radius--middle {
  border-radius: 10px;
}

.border_radius--big {
  border-radius: 15px;
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
  width: 120px;
  height: 50px;
  color: black;
  line-height: 1em;
  font-size: 15px;
  font-weight: bold;
  font-family: "Yu Gothic";
  background-color: #F1F1F1;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1;
  transition: 0.3s;
}
.btn--normal::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: 3px solid #FDCAEC;
  border-radius: 10px;
  transition: 0.3s;
}
.btn--normal:hover::before {
  top: 0;
  left: 0;
}
.btn--normal:hover {
  background-color: #FFF0FA;
}
.btn--back::before {
  content: "";
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% - 5px);
  height: calc(100% - 5px);
  border: 3px solid #CBCDFF;
  border-radius: 10px;
  transition: 0.3s;
}
.btn--back:hover::before {
  top: 0;
  left: 0;
}
.btn--back:hover {
  background-color: #E7E8FF;
}

.response {
  margin: 0 auto;
  width: 70%;
  max-width: 1000px;
}
.response .title-position {
  width: 100%;
  text-align: center;
}
.response .title-position .pagetitle {
  display: inline-block;
  position: relative;
  height: 40px;
  text-align: center;
}
.response .title-position .pagetitle::before, .response .title-position .pagetitle::after {
  content: "";
  position: absolute;
  width: 10px;
  bottom: -10px;
  z-index: 1;
  border: 15px solid #FFE8F7;
}
.response .title-position .pagetitle::before {
  left: -25px;
  border-left-color: transparent;
}
.response .title-position .pagetitle::after {
  right: -25px;
  border-right-color: transparent;
}
.response .title-position .pagetitle .response-title {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 40px;
  background-color: #FFF0FA;
  z-index: 3;
}
.response .title-position .pagetitle .response-title::before, .response .title-position .pagetitle .response-title::after {
  position: absolute;
  content: "";
  top: 100%;
  border: none;
  border-bottom: solid 10px transparent;
}
.response .title-position .pagetitle .response-title::before {
  left: 0;
  border-right: solid 15px #FDCAEC;
}
.response .title-position .pagetitle .response-title::after {
  right: 0;
  border-left: solid 15px #FDCAEC;
}
.response .thread {
  margin: 50px auto;
}
.response .thread__contents {
  list-style: none;
}
.response .thread .contents__top, .response .thread .contents__bottom {
  width: 100%;
}
.response .thread .contents__top {
  border-bottom: 2px solid #CBCDFF;
}
.response .thread .contents__bottom {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
}
.response .thread .contents__middle {
  border-bottom: 2px solid #CBCDFF;
  display: flex;
  justify-content: space-between;
}
.response .thread .contents__title {
  padding-bottom: 5px;
}
.response .thread .contents__icon {
  height: 30px;
}
.response .thread .contents__main {
  position: relative;
  margin-top: 20px;
  width: 100%;
  border: 3px solid #CBCDFF;
  background-color: white;
}
.response .thread .contents__char-center {
  padding-top: 20px;
  text-align: center;
}
.response .thread .contents__char-top {
  padding: 5px 10px;
}
.response .thread .contents__ribbon {
  position: absolute;
  top: -6px;
  left: -9px;
  height: 20px;
  padding: 5px 30px;
  padding-right: 30px;
  color: black;
  background: #E7E8FF;
  line-height: 10px;
}
.response .thread .contents__ribbon-before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  border: 3px solid transparent;
}
.response .thread .contents__ribbon-after {
  position: absolute;
  top: 0;
  right: -10px;
  content: "";
}
.response .thread .contents__name {
  width: 60%;
  height: 100%;
  border-right: 2px solid #CBCDFF;
  padding: 5px 10px;
  display: flex;
  justify-content: left;
}
.response .thread .contents__datetime {
  width: 40%;
  height: 100%;
  overflow: hidden;
  padding: 5px;
  margin: auto 0;
  text-align: center;
}
.response .thread .contents__handlename {
  margin: auto 10px;
}
.response .thread .contents__file_path img, .response .thread .contents__file_path video {
  height: 100px;
  margin: 10px;
  display: table-cell;
  vertical-align: middle;
}
.response-form {
  margin: 50px auto;
}
.response-form__input {
  width: 100%;
  height: 150px;
  padding: 10px;
  resize: none;
  border: 3px solid #CBCDFF;
}
.response-form__input:focus {
  outline: none;
  background-color: #E7E8FF;
}
.response-form .count-text {
  display: flex;
  justify-content: right;
}
.response-form .error-message {
  color: red;
  width: 80%;
}
.response-form textarea {
  display: block;
}
.response .icon__label {
  display: inline-block;
  color: black;
  padding: 5px 10px;
  margin: 5px 10px 5px 60px;
  border: solid 4px #E7E8FF;
  transition: 0.5s;
}
.response .icon__label:hover {
  border: 4px solid #CBCDFF;
  background-color: #E7E8FF;
  cursor: pointer;
}
.response .icon__input {
  display: none;
}
.response #preview {
  display: flex;
  align-items: flex-end;
  margin: 5px 0;
}
.response #preview img, .response video {
  height: 100px;
  border: 2px solid #CBCDFF;
  border-radius: 5px;
}
.response .img-reset__btn {
  border: 1px solid #CBCDFF;
  font-size: small;
  height: 25px;
  width: 50px;
  margin: 0 10px;
}
.response .img-reset__btn:hover {
  background-color: #E7E8FF;
  cursor: pointer;
}
.response__btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.response__btn .btn {
  margin: 10px 20px;
}
.response .hissu, .response .ninni {
  position: relative;
}
.response .hissu::before, .response .ninni::before {
  display: inline-block;
  position: absolute;
  right: -40px;
  top: 50%;
  margin: -10px;
  border: 1px solid #CCC;
  border-radius: 5px;
  padding: 0 5px;
  font-size: 11px;
  font-family: "Yu Gothic";
  opacity: 0.8;
}
.response .hissu::before {
  content: "必須";
  background: #e23356;
  color: #FFF;
}
.response .ninni::before {
  content: "任意";
  background: #abcdfc;
  color: #333;
}/*# sourceMappingURL=response.css.map */