@use "partial/reset";
@use "partial/variables";
@use "base";

.signupConfirm {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 90%;
    max-width: 850px;
    border: 3px solid variables.$dark_purple;
    background-color: white;
    overflow: visible;
    padding: 0.5em;

    &__ribbon {
        position: absolute;
        z-index: 2;
        top: 15px;
        width: calc(100% + 20px);
        height: 50px;
        margin-right: -18px;
        margin-bottom: 80px;
        margin-left: -18px;

        &::before,&:after {
            content: '';
            position: absolute;
            top: 20px;
            bottom: -10px;
            width: 0;
            height: 0;
            border-width: 20px 20px;
        }

        &::before {
            left: -33px;
            border-style: solid;
            border-color: variables.$pink variables.$pink variables.$pink transparent;
        }

        &:after {
            right: -33px;
            border-style: solid;
            border-color: variables.$pink transparent variables.$pink variables.$pink;
        }
    }
    
    &__title {
        line-height: 3em;
        position: relative;
        z-index: 1;
        height: inherit;
        margin-bottom: 0;
        text-align: center;
        color: black;
        background: variables.$light_pink;

        &::before,&::after {
            content: '';
            position: absolute;
            bottom: -10px;
            width: 0;
            height: 0;
            border-top: 10px solid variables.$dark_pink;
        }

        &::before {
            left: 0;
            border-left: 7px solid transparent;
        }

        &::after {
            right: 0;
            border-right: 7px solid transparent;
        }

        & p {
            font-weight: bold;
        }
    }

    &__form {
        margin-top: 90px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    &__input {
        width: 60%;
        margin: 10px auto;
        padding: 3px;
        // padding:10px;
        max-width: 200px;
        text-align: left;
        word-wrap: break-word;
        border: 2px solid variables.$dark_purple;
        background-color: variables.$gray;
    }
    
    &__img {
        display: block;
        margin: 0 auto;
        height: 80px;
        width: 80px;
        border: 2px solid variables.$dark_purple;
    }

    &__group {
        margin: 25px 5px;
        padding: 10px;
    }
    
    table {
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid #EEE;

            th {
                padding: 10px;
                font-weight: normal;
            }
    
            td {
                padding: 5px;
            }
        }
    }

    .btn {
        display: inline-block;
        margin: 15px;
        vertical-align: middle;
        line-height: 1em;
    }

    .hissu,.ninni {
        padding-right: 4rem;
        position: relative;

        &::after {
            display: inline-block;
            position: absolute;
            right: 20px;
            top: 50%;
            margin: -12px;
            border: 1px solid #CCC;
            border-radius: 5px;
            padding: 0 5px;
            font-size: 90%;
            font-family: 'Yu Gothic';
        }
    }

    .hissu::after {
        content: "必須";
        background: #d40000;
        color: #FFF;
    }

    .ninni::after {
        content: "任意";
        background: #d2e5ff;
        color: #333;
    }
}
