@use "partial/reset";
@use "partial/variables";
@use "base";

.threadCreate {
    margin: 0 auto;
    width: 70%;
    max-width: 1000px;
    
    .title-position {
        width: 100%;
        text-align: center;
    
        .pagetitle {
            display: inline-block;
            position: relative;
            height: 40px;
            text-align: center;
        
            &::before, &::after {
                content: '';
                position: absolute;
                width: 10px;
                bottom: -10px;
                z-index: 1;
                border: 15px solid variables.$pink;
            }
        
            &::before {
                left: -25px;
                border-left-color: transparent;
            }
        
            &::after {
                right: -25px;
                border-right-color: transparent;
            }
        
            .Thread {
                display: inline-block;
                position: relative;
                margin: 0;
                padding: 0 20px;
                line-height: 40px;
                background-color: variables.$light_pink;
                z-index: 3;
        
                &::before, &::after {
                    position: absolute;
                    content: '';
                    top: 100%;
                    border: none;
                    border-bottom: solid 10px transparent;
                }
        
                &::before {
                    left: 0;
                    border-right: solid 15px variables.$dark_pink;
                }
        
                &::after {
                    right: 0;
                    border-left: solid 15px variables.$dark_pink;
                }
            }
        }
    }
    .create {
        &__group {
            margin: 25px 0;

            &--btn {
                display: flex;
                justify-content: right;
                margin: 0 auto;
                
                .btn {
                    margin: 15px;
                }
            }

            &--bottom {
                display: flex;
                justify-content: space-between;
    

            }
            .count-text {
                // text-align: right;
                display: flex;
                justify-content: right;
            }

            textarea {
                display: block;
            }

            .error-message {
                visibility: hidden;
                color: red;
                width: 80%;
            }
        }

        &__text {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                z-index: -1;
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 100%;
                height: 8px;
                border-radius: 10px;
                background: repeating-linear-gradient(-45deg, variables.$dark_purple, variables.$dark_purple 2px, white 4px, white 8px);
            }
        }

        &__input {
            resize: none;
            width: 100%;

            &--title {
                height: 50px;
                border: 3px solid variables.$dark_purple;

                &:focus {
                    outline: none;
                    background-color: variables.$light_purple;
                }
            }

            &--content {
                height: 100px;
                border :3px solid variables.$dark_purple;

                &:focus {
                    outline: none;
                    background-color: variables.$light_purple;
                }
            }

            &--select {
                height: 35px;
                width: 40%;
                padding: 5px;
                border : 3px solid variables.$dark_purple;
                -moz-appearance: none;
                -webkit-appearance: none;
                background-image: linear-gradient(45deg, transparent 50%, variables.$dark_purple 50%),  linear-gradient(135deg, variables.$dark_purple 50%, transparent 50%);
                background-size: 5px 5px, 5px 5px;
                background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
                background-repeat: no-repeat;
                cursor: pointer;

                &::-moz-expand {
                    display: none;
                }

                &:focus {
                    outline:none;
                    background-color: variables.$light_purple;
                }
            }
        }
    }
}