@use "partial/reset";
@use "partial/variables";
@use "base";

.threadCreate {
    margin: 0 auto;
    width: 70%;
    max-width: 1000px;
    
    .title-position {
        width: 100%;
        text-align: center;
    
        .pagetitle {
            display: inline-block;
            position: relative;
            height: 40px;
            text-align: center;
        
            &::before, &::after {
                content: '';
                position: absolute;
                width: 10px;
                bottom: -10px;
                z-index: 1;
                border: 15px solid variables.$pink;
            }
        
            &::before {
                left: -25px;
                border-left-color: transparent;
            }
        
            &::after {
                right: -25px;
                border-right-color: transparent;
            }
        
            .Thread {
                display: inline-block;
                position: relative;
                margin: 0;
                padding: 0 20px;
                line-height: 40px;
                background-color: variables.$light_pink;
                z-index: 3;
        
                &::before, &::after {
                    position: absolute;
                    content: '';
                    top: 100%;
                    border: none;
                    border-bottom: solid 10px transparent;
                }
        
                &::before {
                    left: 0;
                    border-right: solid 15px variables.$dark_pink;
                }
        
                &::after {
                    right: 0;
                    border-left: solid 15px variables.$dark_pink;
                }
            }
        }
    }
    .create {
        &__group {
            margin: 25px 0;

            &--btn {
                display: flex;
                justify-content: center;
                margin: 0 auto;
                
                .btn {
                    margin: 10px 30px;
                }
            }

            // &--bottom {
            //     display: flex;
            //     justify-content: space-between;
            // }

            .count-text {
                text-align: right;
                display: flex;
                justify-content: right;
            }

            textarea {
                display: block;
            }

            .error-message {
                // visibility: hidden;
                color: red;
                width: 80%;
            }

            .preview_img{
                display: flex;
                // border: 3px solid variables.$dark_purple;
                // height: 100px;
                
            }

            .previewImage,.img_view{
                border: 3px solid variables.$dark_purple;
                border-radius: 5px;
                margin: 5px;
            }

            .reset__btn,.img_del{
                border: 1px solid variables.$dark_purple;
                font-size: small;
                height: 25px;
                width: 50px;

                &:hover{
                    background-color: variables.$light_purple;
                    cursor: pointer;
                }
            }

            .thumbnail{
                display: block;
                // max-width: 640px;
                min-width: 100px;
                min-height: 100px;
                max-height: 100px;
                border: 3px solid variables.$dark_purple;
                border-radius: 5px;
            }
        }

        &__text {
            position: relative;
            display: inline-block;

            &::after {
                content: '';
                z-index: -1;
                position: absolute;
                left: 0;
                bottom: 5px;
                width: 100%;
                height: 8px;
                border-radius: 10px;
                background: repeating-linear-gradient(-45deg, variables.$dark_purple, variables.$dark_purple 2px, white 4px, white 8px);
            }
        }

        &__input {
            resize: none;
            width: 100%;

            &--title {
                height: 50px;
                border: 3px solid variables.$dark_purple;

                &:focus {
                    outline: none;
                    background-color: variables.$light_purple;
                }
            }

            &--contents {
                height: 100px;
                border :3px solid variables.$dark_purple;

                &:focus {
                    outline: none;
                    background-color: variables.$light_purple;
                }
            }

            &--select {
                height: 35px;
                width: 40%;
                padding: 5px;
                border : 3px solid variables.$dark_purple;
                -moz-appearance: none;
                -webkit-appearance: none;
                appearance: none;
                background-image: linear-gradient(45deg, transparent 50%, variables.$dark_purple 50%),  linear-gradient(135deg, variables.$dark_purple 50%, transparent 50%);
                background-size: 5px 5px, 5px 5px;
                background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
                background-repeat: no-repeat;
                cursor: pointer;

                &::-moz-expand {
                    display: none;
                }

                &:focus {
                    outline:none;
                    background-color: variables.$light_purple;
                }
            }
        }

        .filelabel {
            background-color: white;
            color: black;
            border: 4px solid variables.$light_purple;
            padding: 5px 10px;
            margin: 5px 10px;
            display: inline-block;
            transition:0.5s;
        }

        .filelabel:hover {
            background-color: variables.$light_purple;
            border: 4px solid variables.$dark_purple;
            cursor: pointer;
        }
        .filesend__btn{
            display: block;
        }
        #filesend {
            display: none;
        }

        .hissu,.ninni {
            // width: 40%;
            // padding-right: 4rem;
            position: relative;

            &::before {
                display: inline-block;
                position: absolute;
                right: -40px;
                top: 50%;
                margin: -10px;
                border: 1px solid #CCC;
                border-radius: 5px;
                padding: 0 5px;
                font-size: 11px;
                font-family: 'Yu Gothic';
                opacity: 0.8;
            }
        }
    
        .hissu::before {
            content: "必須";
            background: #e23356;
            color: #FFF;
        }

        .ninni::before {
            content: "任意";
            background: #abcdfc;
            color: #333;
        }
    }
}