@use "partial/reset";
@use "partial/variables";
@use "base";

.top {
    &-position {
        width: 100%;
        padding: 0 10%;
        display: flex;
        justify-content: space-between;
    
        .btn {
            top: -18px;
            width: 7%;
            height: 35px;

            &--back{
                &::before{
                    top: -6px;
                    left: -6px;
                }

                &:hover::before{
                    top: 0;
                    left: 0;
                }
            }
    
        }

        & div {
            width: 5%;
            height: 30px;
        }
    }
    .search {
        margin :0 auto;
        width: 70%;
        max-width: 800px;
        // padding:0 20px;
        text-align: center;
        display: flex;
        justify-content: space-between;
    
        &__input {
            border: 2px solid variables.$dark_pink;
            height: 30px;
            width: 85%;
            padding: 3px 10px;
            // margin: 0 auto;
        }

        &__select {
            width: 15%;
            margin-right: 10px;
            border: 2px solid variables.$dark_pink;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background-image: linear-gradient(45deg, transparent 50%, variables.$dark_pink 50%),linear-gradient(135deg, variables.$dark_pink 50%, transparent 50%);
            background-size: 5px 5px, 5px 5px;
            background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
            background-repeat: no-repeat;
            padding: 0 5px;
            cursor: pointer;
            
            &::-webkit-scrollbar-thumb {
                background: rgba(variables.$hover_purple,0.5);
            }
        }

        &__input:focus,&__select:focus {
            outline: none;
            background-color: variables.$light_pink;
        }
    
        &__button {
            background-color: variables.$dark_pink;
            border: 2px solid variables.$dark_pink;
            color: white;
            height: 30px;
            width: 40px;
            cursor: pointer;
        }
    }
    .keyword {
        text-align: center;
        margin: 20px auto;
        width: 75%;
        max-width: 1100px;
        position: relative;
        padding: 0.3em;
        font-weight: bold;

        &::after {
            content: '';
            z-index: -1;
            position: absolute;
            left: 0;
            bottom: 0px;
            width: 100%;
            height: 18px;
            border-radius: 10px;
            background: repeating-linear-gradient(-45deg, variables.$dark_purple, variables.$dark_purple 2px, white 4px, white 8px);
        }
    }

    .nohit {
        text-align: center;
    }

    .tab {
        width: 70%;
        margin: 50px auto;
    
        .tab_item {
            display: block;
            float: left;
            width: calc(100%/3);
            height: 30px;
            border-radius: 10px 10px 0 0 ;
            border-bottom: 3px solid variables.$dark_purple;
            background-color: variables.$gray;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
            overflow: hidden;
            transition: all 0.2s ease;
    
            &:hover {
                cursor: pointer;
                background-color: variables.$light_purple;
            }
        }
    
        input[name="tab_item"] {
            display: none;
        }
    
        &__switching {
            display: none;
            padding: 20px;
            clear: both;
            border-radius: 0 0 10px 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }
    
        &__contents {
            list-style: none;
        }
    
        .contents {
            &__top, &__bottom {
                width: 100%;
                height: 50px;
            }
    
            &__top {
                display: flex;
                border-bottom: 2px solid variables.$dark_purple;
            }

            &__main {
                position: relative;
                margin-top: 20px;
                width: 100%;
                border: 3px solid variables.$dark_purple;
                background-color: white;
            }

            &__sub {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            &__admin {
                display: flex;
                // visibility: hidden;
            }

            &__delete {
                width: 85px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                border-bottom: 3px solid variables.$dark_purple;
                border-left: 3px solid variables.$dark_purple;

                & a {
                    color: red;
                }

                & a:hover {
                    color: variables.$hover_purple;
                }
            }

            &__recover {
                width: 85px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                border-bottom: 3px solid variables.$dark_purple;
                border-right: 3px solid variables.$dark_purple;

                & a {
                    color: blue;
                }

                & a:hover {
                    color: variables.$hover_purple;
                }
            }

            &__good {
                width: 85px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                border-bottom: 3px solid variables.$dark_purple;
                border-right: 3px solid variables.$dark_purple;
                border-left: 3px solid variables.$dark_purple;

                button {
                    height: 100%;
                    width: 100%;
                    background-color: white;
                    border: none;
                    cursor: pointer;
                }
            }
    
            &__char-center {
                padding-top: 20px;
                text-align: center;
            }
    
            &__char-top {
                padding: 5px 10px;
            }
    
            &__ribbon {
                position: absolute;
                top: -6px;
                left: -6px;
                height: 20px;
                padding: 5px 10px;
                padding-right: 40px;
                color: black;
                background: variables.$light_purple;
                line-height: 10px;
    
                &::before {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 0px;
                    border: 3px solid transparent;
                    border-top: 3px solid variables.$dark_purple;
                    border-right: 3px solid variables.$dark_purple;
                }
    
                &::after {
                    position: absolute;
                    top: 0;
                    right: -10px;
                    content: '';
                    border-top: 10px solid variables.$light_purple;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid variables.$light_purple;
                    border-left: 0 solid variables.$light_purple;
                }
            }
    
            &__title {
                width: 60%;
                height: 100%;
                border-right: 2px solid variables.$dark_purple;
                
            }
    
            &__datetime {
                width: 40%;
                height: 100%;
                overflow: hidden;
            }
        }
    
        #new_threadtab:checked ~ #thread_content,
        #many_responsetab:checked ~ #response_content,
        #many_goodtab:checked ~ #good_content {
            display: block;
        }
        .page-btn {
            display: flex;
            justify-content: center;
            margin-top: 40px;

            &--previous,&--next,&--first,&--last {
                border: 1px solid lightgray;
                margin: 0 3px;
                text-decoration: none;
                padding: 3px 8px;
            }

            &--first {
                border-radius: 30px 10px 10px 30px;
            }

            &--last {
                border-radius: 10px 30px 30px 10px;
            }

            .page-text {
                text-decoration: none;
                // color: black;
                
                &--previous,&--first {
                    position: relative;
                    padding-left: 12px;

                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 8px 6px 0;
                        border-color: transparent variables.$dark_purple transparent transparent;
                        position: absolute;
                        top: 50%;
                        left: 0;
                        margin-top: -6px; 
                    }
                }

                &--first {
                    &::after {
                        content: '';
                        left: -1px;
                        top: 20%;
                        position: absolute;
                        width: 2px;
                        height: 12px;
                        border-radius: 3px;
                        background: variables.$dark_purple;
                    }
                }

                &--next,&--last {
                    position: relative;
                    padding-right: 12px;

                    &::before {
                        content: '';
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6px 0 6px 8px;
                        border-color: transparent transparent transparent variables.$dark_purple;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        margin-top: -6px; 
                    }
                }
                
                &--last {
                    &::after {
                        content: '';
                        right: -1px;
                        top: 20%;
                        position: absolute;
                        width: 2px;
                        height: 12px;
                        border-radius: 3px;
                        background: variables.$dark_purple;
                    }
                }
            }
            .enable-text{
                color:black;
            }
            .disable-text{
                // color:gray;
                opacity: 0.5;
            }
            .enable-color:hover{
                background: variables.$light_purple;
            }
            .disable-color{
                background-color: variables.$gray;
            }
        }
    }
    
    .tab input:checked + .tab_item {
        background-color: variables.$light_purple;
    }

    .pagecount{
        text-align: center;
        margin-top:10px;
    }
}
